{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <h2 class="text-success mb-4">
        🎓 My Certificates
    </h2>

    {% for course in completed_courses %}

        <div class="card shadow p-3 mb-3">

            <h4>{{ course.title }}</h4>

            <a href="{% url 'generate_certificate' course.id %}"
               class="btn btn-primary">
               Download Certificate
            </a>

        </div>

    {% empty %}

        <div class="alert alert-warning">
            No certificates available.
        </div>

    {% endfor %}

</div>

{% endblock %}